In [1]:
import pandas as pd
import numpy as np

In [2]:
timit_df = pd.read_hdf("./train_features/mfcc/timit.hdf")

In [3]:
timit_df.head()

                                            features labels
0  [7.078657420964836, -25.02194729819945, -6.325...    sil
1  [7.1665441896812405, -25.24814281113481, -1.60...    sil
2  [7.184905955583264, -28.73273351008029, -3.906...    sil
3  [7.034989672359181, -28.195340884727596, -3.54...    sil
4  [7.003780771426295, -28.139888943590634, -0.70...    sil

In [4]:
timit_df.shape

(1236543, 2)

In [ ]:
features = np.array(timit_df["features"].tolist())
labels = np.array(timit_df["labels"].tolist())

In [5]:
print(features.shape)
features[0]

(1236543, 13)

array([  6.82754506, -31.82412106,  -6.55117283,  -7.85362159,
         2.40069256,  -0.63337442,  -0.30424074,  -0.21460419,
         1.81347379,   4.73565748,   5.2188625 ,  -6.8679705 ,
        -9.9399319 ])

In [22]:
features[labels == 'aa'].shape

(31440, 13)

In [24]:
list(set(labels))

['',
 'sh',
 'l',
 'ay',
 'ih',
 'dx',
 'oy',
 'z',
 'jh',
 'ch',
 't',
 'iy',
 'ng',
 'dh',
 'k',
 'uh',
 'aa',
 'aw',
 'm',
 'eh',
 'hh',
 'b',
 'f',
 'ah',
 'd',
 'y',
 'g',
 'er',
 'ow',
 'sil',
 'ey',
 's',
 'uw',
 'w',
 'r',
 'th',
 'n',
 'ae',
 'v',
 'p']